<nav>
  <div class="nav-start icon"><a href="/"><img src="/apple-icon.png" alt=""></a></div>
  {% assign username = user.username %}
{{ username }} fhu43iwe
  <div>USER: is{{user[username]}}</div>
  <div>USERNAME: is{{username}}</div>
  {% if user  %}
  <div class="nav-end">
    <div>USER: is{{username}}</div>
    <div>Auth: is{{authenticated}}</div>
    <a href="/chat">chat</a>
  </div>
  {% else %}
  <div>Auth: is{{authenticated}}</div>
  <div>USER:{{user.name}}</div>
  <div class="nav-end">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
  <div>Auth: is{{authenticated}}</div>
  <div>USER: is true {{user}}</div>
  {% endif %}
</nav>